* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.app {
	&Header {
		display: flex;
		align-items: center;
		justify-content: center;

		border-radius: 10px;
		margin: 20px 40px;

		height: 80px;

		background: rgb(131, 58, 180);
		background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(232, 29, 253, 1) 50%, rgba(252, 176, 69, 1) 100%);
	}
}
